@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
  font-family: 'Josefin Sans', cursive;
  font-size: 4vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: white;
}

h1 {
  font-family: 'Josefin Sans', cursive;
  color: purple;
  margin: 0;
  margin-bottom: .6rem;
}

.input {
  font-family: 'Josefin Sans', cursive;
  font-size: 4vh;
  border: 1px solid purple;
  border-radius: .5em;
  padding: .25rem;
  width: 7em;
}

select {
  font-family: 'Josefin Sans', cursive;
  font-size: 4vh;
  margin-left: .5rem;
  border-radius: .5em;
  border: 1px solid purple;
}

.likamed {
  font-family: 'Josefin Sans', cursive;
  font-weight: bold;
  font-size: 6vh;
  
}